<!DOCTYPE html>
<html lang="fr">

    <head>
        <title>{% block title %}{% endblock %} | Cigogne</title>

        
        {% stylesheets '@FastreCigogneBundle/Resources/public/css/fonts/leckerlione.css'
                       '@FastreCigogneBundle/Resources/public/css/fonts/entypo.css'
                       '@FastreCigogneBundle/Resources/public/css/fonts/open_sans.css' %}
        	<link rel="stylesheet" href="{{ asset_url }}" />
    	{% endstylesheets %}
        {% stylesheets '@FastreCigogneBundle/Resources/public/css/main.css' filter='cssrewrite' %}
        	<link rel="stylesheet" href="{{ asset_url }}" />
    	{% endstylesheets %}
      
      {% stylesheets '@CLPersonaUserBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        

       <script type="text/javascript" src="{{ asset('js/jquery-1.9.1.js') }}" ></script>
        {% block javascript %}
          
        {% endblock %}
        
       <link rel="stylesheet" media="screen" href="{{asset('css/newfont.css')}}" type="text/css" />
        {% block css %}
        
        {% endblock %}
    
    
    
    </head>
    <body>
        <div id="header" class="row">
           {% block personalogin %}
            <nav class="column twelve">
                <ul id="top-menu">
                    {% if not app.user %} 
                        <li>{{ 'cigogne.already_a_list_?'|trans }} {{ persona_login_button() }}</li>
                        <li>{% trans %}cigogne.future_parent_?{% endtrans %} <a href="{{url('cigogne.persona_explain') }}">{% trans %}cigogne.register{% endtrans %}</a></li>
                    {% else %}
                        <li>Bonjour {{app.user.label}}, <a href="{{ path('cigogne.listing.list') }}">{{ 'cigogne.my_lists'|trans }}</a></li>
                        <li><a href="{{url('cigogne.logout') }}">{% trans %}cigogne.logout{% endtrans %}</a></li>
                    {% endif %}
                </ul>
           </nav>
           {% endblock %}
        </div>
            
        <div id="flash-messages" class="row">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice column eight centered primary alert">
                        {{ flashMessage }}
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('warn') %}
                <div class="flash-warn column eight centered danger alert">
                        {{ flashMessage }}
                </div>
            {% endfor %}

        </div>

            
            {% block content %}
            <p>Surchargez ce contenu</p>
            {% endblock %}
    
    
    
    <!-- THOSE VARIABLES ARE NEEDED FOR THE ADAPTATION OF THE js SCRIPT BELOW -->
        <script type="text/javascript">
            var personaLoginCheck = '{{ path('cl_persona_user.login_check') }}';
            var personaLogout = '{{ path('cl_persona_user.logout') }}'; //replace with another logout route if needed
        </script>

     <!-- needed by persona ! -->
        <script src="https://login.persona.org/include.js"></script>
     <!-- the script we develop. This script will reload the page after login. You may create your own -->  
        {% javascripts '@CLPersonaUserBundle/Resources/public/js/persona_auth.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    
    </body>

</html>