<!DOCTYPE html>
<html lang="fr">

    <head>
        <title>{% block title %}{% endblock %} | Cigogne</title>

        
        {% stylesheets '@FastreCigogneBundle/Resources/public/css/fonts/leckerlione.css'
                       '@FastreCigogneBundle/Resources/public/css/fonts/entypo.css'
                       '@FastreCigogneBundle/Resources/public/css/fonts/open_sans.css' %}
        	<link rel="stylesheet" href="{{ asset_url }}" />
    	{% endstylesheets %}
        {% stylesheets '@FastreCigogneBundle/Resources/public/css/main.css' filter='cssrewrite' %}
        	<link rel="stylesheet" href="{{ asset_url }}" />
    	{% endstylesheets %}
        

       <script type="text/javascript" src="{{ asset('js/jquery-1.9.1.js') }}" ></script>
        {% block javascript %}
          
        {% endblock %}
        
       <link rel="stylesheet" media="screen" href="{{asset('css/newfont.css')}}" type="text/css" />
        {% block css %}
        
        {% endblock %}
    
    
    
    </head>
    <body>
        <div id="header" class="row">
            <nav class="column twelve">
                <ul id="top-menu">
                    {% if not app.user %} 
                        <li>{{ 'cigogne.already_a_list_?'|trans }} <a href="{{url('fos_user_security_login') }}">{% trans %}cigogne.connect{% endtrans %}</a></li>
                        <li>{% trans %}cigogne.future_parent_?{% endtrans %} <a href="{{url('fos_user_registration_register') }}">{% trans %}cigogne.register{% endtrans %}</a></li>
                    {% else %}
                        <li>Bonjour {{app.user.username}}</li>
                        <li><a href="{{url('fos_user_security_logout') }}">{% trans %}cigogne.logout{% endtrans %}</a></li>
                    {% endif %}
                </ul>
           </nav>
        </div>
            
        <div id="flash-messages" class="row">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice column eight centered">
                        {{ flashMessage }}
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('warn') %}
                <div class="flash-warn column eight centered">
                        {{ flashMessage }}
                </div>
            {% endfor %}

        </div>

            
            {% block content %}
            <p>Surchargez ce contenu</p>
            {% endblock %}
    
    
    
    
    
    </body>

</html>