{% extends "FastreCigogneBundle::layout.html.twig" %}

{#  
    ajoute le titre de la page
#}

{% block title %}{% trans %}cigogne.basket.confirmed.title{% endtrans %}{% endblock %}

{% block css %}
  {# mettre le code CSS ou les liens vers des feuilles de style CSS ici #}



{% endblock %}



{% block javascript %}
  {# mettre le code js ou les liens vers les scripts ici #}



{% endblock %}



{% block content %}

<div class="row confirmed">
	<div class="column twelve">
	
		<h1>{{ 'cigogne.basket.confirmed.thanks'|trans }}</h1>
		
		<p>{{ 'cigogne.basket.confirmed.message_has_been_sent'|trans({ '%email%': basket.email })|raw }}</p>
		
		{%  if totalMoney > 0 %}
		<p>{{ 'cigogne.basket.confirmed.make_transfer_IBAN'|trans({ '%amount%' : totalMoney, '%IBAN%': list.creator.paymentBankAccountNumber})   }}
		{%  endif %}
		
		{{ include('FastreCigogneBundle:Basket:presentation.html.twig', {
		   'giftMoneys': giftMoneys,
		   'giftNatures' : giftNatures, 
		   'giftServices' : giftServices
		   }
		) }}
		
		<p><a href="{{ url('homepage', {'code': code, 'rand' : random() } ) }}">{{ 'cigogne.basket.confirmed.to_homepage'|trans }}</a></p>

	</div>
</div>

{% endblock %}
