{% extends "FastreCigogneBundle::layout.html.twig" %}

{#  
    ajoute le titre de la page
#}

{% block title %}{% trans %}cigogne.basket.confirm.title{% endtrans %}{% endblock %}

{% block css %}
  {# mettre le code CSS ou les liens vers des feuilles de style CSS ici #}



{% endblock %}



{% block javascript %}
  {# mettre le code js ou les liens vers les scripts ici #}



{% endblock %}



{% block content %}

<div class="row confirm">
	<div class="column twelve">
	
		<h1>Confirmation de vos cadeaux</h1>
		
		{{ include('FastreCigogneBundle:Basket:presentation.html.twig', {
		   'giftMoneys': giftMoneys,
		   'giftNatures' : giftNatures, 
		   'giftServices' : giftServices
		   }
		) }}
		
		<p><a href="{{ url('cigogne.listing.see', {'code': code, 'rand' : random() } ) }}">Modifier</a></p>
		
		<form method="POST" action="#" >

               <div class="field">
                  {{form_label(basketForm.name, null, { 'label_attr' : { 'class' : 'inline aligned' } } ) }} 
                  {{ form_widget(basketForm.name, { 'attrs': {'class': 'input '} }) }}
               </div>
               
               <div class="field">
                  {{form_label(basketForm.email, null, { 'label_attr' : { 'class' : 'inline aligned' } } ) }} 
                  {{ form_widget(basketForm.email, { 'attrs': {'class': 'input '} }) }}
               </div>
               
               {{form_label(basketForm.message, null, { 'label_attr' : { 'class' : ' ' } } ) }}
               <div class="field">
                   {{ form_widget(basketForm.message, { 'attrs': {'class': 'input textarea'} }) }}
               </div>
               
               <div>
                  {{ form_label(basketForm.payment) }}
               </div>
                  {{ form_widget(basketForm.payment) }}

		  {{ form_rest(basketForm) }}
		  
              <div class="medium primary btn">
               <button type="submit">{{ 'cigogne.basket.confirm.post'|trans }}</button>
              </div>
		</form>
	</div>
</div>

{% endblock %}
