<div ng-controller="basketController" >
        <div id="basket" >
            
            <h1>{{ 'cigogne.listing.view.basket_title' | trans }}</h1>
            
            <p id="basket_all_empty_message">{{ 'cigogne.listing.view.basket_empty' | trans }}</p>
            
            <h2 class="invisible " id="basket_money_title">Les cadeaux achetés</h2>
            
            <ul id="moneyGiftList">
                <li ng-repeat="moneyGift in moneyGifts" class="item">
                    <span class="title">{{ '{{moneyGift.title}}' }}</span> 
                    <span class="amount">{{ '{{moneyGift.amount | currency:"€"}}' }}</span> 
                    <span class="delete"><a ng-click="deleteItem(moneyGift.uuid)">
                            <img src="{{asset('img/1362970997_error.png')}}" 
                                 alt="{{ 'cigogne.listing.view.basket_delete'}}" 
                                 title="{{ 'cigogne.listing.view.basket_delete'}}" 
                                 class="delete"/>
                       </a></span>
                </li>

            </ul>
            
            
            <h2 class="invisible " id="basket_nature_title">Vos dons</h2>
            
            <ul id="natureGiftList">
                <li ng-repeat="natureGift in natureGifts" class="item">
                    <span class="title">{{ '{{natureGift.title}}' }}</span> 
                    <span class="message">{{ '{{natureGift.message}}' }}</span> 
                    <span class="quantity">{{ '{{natureGift.quantity}}' }}</span>
                    <span class="delete"><a ng-click="deleteItem(natureGift.uuid)">
                            <img src="{{asset('img/1362970997_error.png')}}" 
                                 alt="{{ 'cigogne.listing.view.basket_delete'}}" 
                                 title="{{ 'cigogne.listing.view.basket_delete'}}" 
                                 class="delete" />
                       </a></span>
                </li>
            
            </ul>
            
            <h2 class="invisible " id="basket_service_title">Vos services</h2>
            
            <ul id="natureGiftList">
                <li ng-repeat="serviceGift in serviceGifts" class="item">
                    <span class="title">{{ '{{serviceGift.title}}' }}</span> 
                    <span class="message">{{ '{{serviceGift.message}}' }}</span> 
                    <span class="quantity">{{ '{{serviceGift.quantity}}' }}</span>
                    <span class="delete"><a ng-click="deleteItem(serviceGift.uuid)">
                            <img src="{{asset('img/1362970997_error.png')}}" 
                                 alt="{{ 'cigogne.listing.view.basket_delete'}}" 
                                 title="{{ 'cigogne.listing.view.basket_delete'}}" 
                                 class="delete" />
                       </a></span>
                </li>
            
            </ul>

            <p class="invisible total" id="basket_money_total" >{{ 'cigogne.listing.view.total_money' | trans}} {{ '{{totalMoney | currency:"€"}}' }}</p>

            <div class="medium primary btn">
               <a href="{{ path('cigogne.basket.confirm', {'code': code }) }}">Valider</a>
            </div> {% if add_link_to_list is defined and add_link_to_list == true %}
            <a href="{{ path('cigogne.listing.see', { 'code' : code } ) }}">{{ 'cigogne.listing.item.or_go_on'|trans }}</a>
            {% endif %}
        </div>
    </div>
