{% if giftMoneys | length > 0 %}
    <h2>Vous donnez de l'argent pour...</h2>

    <ul>
        {% for giftMoney in giftMoneys %}

           <li><span class="amount list">{{giftMoney.amount| number_format(2, ',', ' ')}}&nbsp;€</span>&nbsp;: <span class="title">{{giftMoney.item.title}}</span>, <br/>

        {% endfor %}

    </ul>

{% endif %}

{% if giftNatures | length > 0 %}
    <h2>Vous apporterez les objets suivants...</h2>

    <ul>
        {% for giftNature in giftNatures %}

           <li><span class="quantity list">{{giftNature.quantity}}</span>&nbsp;: <span class="title">{{giftNature.item.title}}</span>
              {% if giftNature.message is not empty %}<br/>
                 <span class="message"><span class="legend">Votre message&nbsp;:<br/></span>{{giftNature.message|nl2br}}</span>{% endif %}</li>

        {% endfor %}

    </ul>
{% endif %}

{% if giftServices | length > 0 %}    
<h2>Vous rendrez ces services</h2>

<ul>
    {% for giftService in giftServices %}
        
       <li><span class="quantity list">{{giftService.quantity}}</span>&nbsp;: <span class="title">{{giftService.item.title}}</span>, {% if giftService.message is not empty %}<br/>
              <span class="message"><span class="legend">Votre message&nbsp;:<br/></span>{{giftService.message|nl2br}}</span>{% endif %}</li>
        
    {% endfor %}

</ul>
{% endif %}

<h2>Soit... </h2>
<p><span class="amount">{{totalMoney | number_format(2, ',', ' ')}}€</span> pour <span class="quantity">{{giftMoneys | length }}</span> objet(s),
   <span class="quantity">{{giftNatures | length }}</span> dons d'objets et <span class="quantity">{{giftServices | length }}</span> services.</p>

