{% extends "FastreCigogneBundle::layout.html.twig" %}

{% block title %}{{ 'cigogne.listing.form.title' | trans }}{% endblock title %}

{% block content %}
   <div class="row">
      <div class="column twelve">
         
         {% if list is defined %}
            <h1>{{ 'cigogne.listing.form.title'|trans( {'%name%' : list.name }) }}</h1>
         {% else %}
            <h1>{{ 'cigogne.listing.form.new'|trans }}</h1>    
         {% endif %}

         {{ form_start(form) }}

         {{ form_rest(form) }}
         
         <button type="submit">{{ 'cigogne.listing.form.submit'|trans }}</button>

         {{ form_end(form) }}
         
         <div class="items">
         
            <p>
               <a href="{{ path('cigogne.item.new', { 'listingId' : list.id }) }}">
                  {{ 'cigogne.listing.form.new_item'|trans }}
               </a>
            </p>
         
         {% if list is defined %}
            {% for item in list.items %}
            
               {% include 'FastreCigogneBundle:Listing:form_item.html.twig' with {'item': item, 'listing': list } %}
            {% endfor %}
         {% endif %}
         
         </div>
         
      </div>
   </div>
{% endblock content %}