{% extends "FastreCigogneBundle::layout.html.twig" %}

{#
    Les arguments passés à la vue sont les suivants:

- listing: la liste affichée
- forms: les formulaires. Il s'agit d'un tableau multidimensionnel où la première 
   clé est celle de l'id de l'item, la deuxième le type de formulaire
   forms[listing.item.id][Item::FURNITURE_MONEY ou ITEM::FURNITURE_NATURE] = form

#}

{#  
    les deux lignes ci-dessous stockent des valeurs constantes dans des variables twig, 
    histoire de ne pas trop alourdir le code... 
#}

{% set money = constant('Fastre\\CigogneBundle\\Entity\\Item::FURNITURE_MONEY') %}
{% set nature = constant('Fastre\\CigogneBundle\\Entity\\Item::FURNITURE_NATURE') %}
{% set service = constant('Fastre\\CigogneBundle\\Entity\\Item::FURNITURE_SERVICE') %}

{#  
    ajoute le titre de la page
#}

{% block title %}{% trans with {'%name%': listing.creator.username} %}cigogne.listing.view.title{% endtrans %}{% endblock %}


{% block css %}

{# Peut être déplacé vers un fichier css #}

<style type="text/css">
        
    {# permet de rendre invisible les titres dans le basket #}
    .invisible {
        display: none;
    }
    
    {# style temporaire pour visualiser les formulaires #}
    form {
        border: 1px solid black;
        margin-top: 9px;
        padding: 5px;
    }
</style>
{% endblock %}

{#  ajoute les dépendances JS d'angular JS + script de manip des formulaires #}
{% block javascript %}
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
   <script src="{{ asset('js/listingView.js') }}"></script>
   <script>
       var urlDeleteGift = '{{ path('cigogne.gift.remove', {'_format':'json'})}}';
       var deleteToken = '{{deleteToken}}';
       var itemsInBasket = {{itemsInBasket|raw }};
   </script>
{% endblock %}


{#  
    le contenu commence ici
#}

{% block content %}
   
   {# le code qui contient le "panier " de l'utilisateur.  #}

<div ng-app="listingView">
    <div ng-controller="basketController" >
        <div id="basket" >
            
            <h1>{{ 'cigogne.listing.view.basket_title' | trans }}</h1>
            
            <p id="basket_all_empty_message">{{ 'cigogne.listing.view.basket_empty' | trans }}</p>
            
            <h2 class="invisible " id="basket_money_title">Les cadeaux achetés</h2>
            
            <ul id="moneyGiftList">
                <li ng-repeat="moneyGift in moneyGifts">
                    <span>{{ '{{moneyGift.title}}' }}</span> 
                    <span>{{ '{{moneyGift.amount | currency:"€"}}' }}</span> 
                    <span><a ng-click="deleteItem(moneyGift.uuid)">
                            <img src="{{asset('img/1362970997_error.png')}}" 
                                 alt="{{ 'cigogne.listing.view.basket_delete'}}" 
                                 title="{{ 'cigogne.listing.view.basket_delete'}}" />
                        </a>
                </li>

            </ul>
            
            
            <h2 class="invisible " id="basket_nature_title">Vos dons</h2>
            
            <ul id="natureGiftList">
                <li ng-repeat="natureGift in natureGifts">
                    <span>{{ '{{natureGift.title}}' }}</span> 
                    <span>{{ '{{natureGift.message}}' }}</span> 
                    <span>{{ '{{natureGift.quantity}}' }}</span>
                    <span><a ng-click="deleteItem(natureGift.uuid)">
                            <img src="{{asset('img/1362970997_error.png')}}" 
                                 alt="{{ 'cigogne.listing.view.basket_delete'}}" 
                                 title="{{ 'cigogne.listing.view.basket_delete'}}" />
                        </a>
                </li>
            
            </ul>
            
            <h2 class="invisible " id="basket_service_title">Vos services</h2>
            
            <ul id="natureGiftList">
                <li ng-repeat="serviceGift in serviceGifts">
                    <span>{{ '{{serviceGift.title}}' }}</span> 
                    <span>{{ '{{serviceGift.message}}' }}</span> 
                    <span>{{ '{{serviceGift.quantity}}' }}</span>
                    <span><a ng-click="deleteItem(serviceGift.uuid)">
                            <img src="{{asset('img/1362970997_error.png')}}" 
                                 alt="{{ 'cigogne.listing.view.basket_delete'}}" 
                                 title="{{ 'cigogne.listing.view.basket_delete'}}" />
                        </a>
                </li>
            
            </ul>

            <p class="invisible" id="basket_money_total">{{ 'cigogne.listing.view.total_money' | trans}} {{ '{{getTotalMoneyGifts() | currency:"€"}}' }}</p>

            <p><a href="{{ path('cigogne.basket.confirm', {'code': code }) }}">Valider</a></p>
        </div>
    </div>
    
    {# les listes commencent à être décrites ici #}
    <h1>{{listing.name}}</h1>
    <p>{% trans with {'%name%': listing.creator.username} %}cigogne.listing.view.list_of_{% endtrans %}</p>

    <p>{% trans with {'%date%': listing.dateOfBirth | date("m/d/Y")} %}cigogne.listing.view.date_of_birth{% endtrans %}</p>

    {{listing.description}}

    <h1>{% trans %}cigogne.listing.view.item_list{% endtrans %}</h1>

    {#  
        liste de tous les items...
    #}

    <div id="item_list" >

        {% for item in listing.items %}
    {#  
        ajoute des classes particulières en fonction de la nature de l'item
    #}
            <div class="item 
          {% if item.type is constant('Fastre\\CigogneBundle\\Entity\\Item::TYPE_GOOD') %}good{% else %}service{% endif %}
          {% if constant('Fastre\\CigogneBundle\\Entity\\Item::GOOD_SECOND_HAND') in item.good %}second{% endif %}
          {% if constant('Fastre\\CigogneBundle\\Entity\\Item::GOOD_NEW') in item.good %}new{% endif %}
        ">
                <h2 class="robert item_title">{{item.title}}</h2>

                <p class="item_description">{{item.description}}</p>

                {# formulaire pour donner de l'argent #}
                {% if attribute(attribute(forms, item.id), money) is defined %}
                    {% set form = attribute(attribute(forms, item.id), money) %}
                <div >
                    <form class="second" 
                          ng-controller="moneyGiftController" 
                          ng-submit="addMoneyGift(this)" 
                          action="{{path('cigogne.gift.add', {'_format':'json', 'type':'money'})}}" 
                          method="post">
                   
                        <p>
                            {{ form_label(form.amount) }}: {{ form_widget(form.amount, 
                                        {'attr': {
                                            'class':'amount', 
                                            'pattern': '[-+]?[0-9]*[.,]?[0-9]+',
                                            'x-moz-errormessage': 'cigogne.gift.form.money.amount_error_message'|trans, 
                                            'title': 'cigogne.gift.form.money.amount_error_message'|trans}}) }}

                            <input type="hidden" name="title" value="{{item.title}}" >
                            <input type="hidden" name="type" value="money" />


                            {# ne pas supprimer form_rest : il affiche les éléments manquants 
                                (valeurs cachées, etc.  #}
                            {{ form_rest(form) }} 

                            <button >{% trans %}cigogne.gift.form.money.give{% endtrans %}</button>
                        
                        </p>
                        
                    </form>
                </div>

                {% endif %}
                
                {# formulaire pour donner un objet en nature #}
                {% if attribute(attribute(forms, item.id), nature) is defined  %}
                    {% set form = attribute(attribute(forms, item.id), nature) %}
                  
                    <form method="post" 
                          action="{{path('cigogne.gift.add', {'_format':'json', 'type':'nature'})}}"
                          class="new" 
                          ng-controller="natureGiftController" 
                          ng-submit="addNatureGift(this)">
                        
                           {{ form_label(form.message) }}: {{ form_widget(form.message, 
                                             {'attr': {
                                                    'class' : 'message'
                                                    }}) }}
                            
                            <input type="hidden" name="title" value="{{item.title}}" >
                            <input type="hidden" name="type" value="nature" />

                                   
                            {# ne pas supprimer form_rest : il affiche les éléments manquants 
                            (valeurs cachées, etc.  #} 
                            {{ form_rest(form) }} 
                        <button>{% trans %}cigogne.gift.form.nature.give{% endtrans %}</button>
                    </form>
                  

                {% endif %}

                {# formulaire pour rendre un service #}
                {% if attribute(attribute(forms, item.id), service) is defined %}
                    {% set form = attribute(attribute(forms, item.id), service) %}
                
                    <form method="post" 
                          action="{{path('cigogne.gift.add', {'_format':'json', 'type':'service'})}}"" 
                          class="new" 
                          ng-controller="serviceGiftController" 
                          ng-submit="addServiceGift(this)">
                        
                        {{ form_label(form.message) }}: {{ form_widget(form.message) }}
                        
                        <input type="hidden" name="title" value="{{item.title}}" >
                        <input type="hidden" name="type" value="service" />
                        
                            {# ne pas supprimer form_rest : il affiche les éléments manquants 
                            (valeurs cachées, etc.  #}
                            {{ form_rest(form) }} 
                        
                        
                        <button>{% trans %}cigogne.gift.form.service.give{% endtrans %}</button>
                    </form>

                {% endif %}



            </div>

        {% endfor %}

    </div>

</div> {# div for ng-app #}

{% endblock %}