{% extends "FastreCigogneBundle::layout.html.twig" %}

{#
    Les arguments passés à la vue sont les suivants:

- listing: la liste affichée
- forms: les formulaires. Il s'agit d'un tableau multidimensionnel où la première 
   clé est celle de l'id de l'item, la deuxième le type de formulaire
   forms[listing.item.id][Item::FURNITURE_MONEY ou ITEM::FURNITURE_NATURE] = form

#}

{#  
    les deux lignes ci-dessous stockent des valeurs constantes dans des variables twig, 
    histoire de ne pas trop alourdir le code... 
#}

{% set money = constant('Fastre\\CigogneBundle\\Entity\\Item::FURNITURE_MONEY') %}
{% set nature = constant('Fastre\\CigogneBundle\\Entity\\Item::FURNITURE_NATURE') %}
{% set service = constant('Fastre\\CigogneBundle\\Entity\\Item::FURNITURE_SERVICE') %}

{#  
    ajoute le titre de la page
#}

{% block title %}{% trans with {'%name%': listing.creator.username} %}cigogne.listing.view.title{% endtrans %}{% endblock %}


{% block css %}

{# Peut être déplacé vers un fichier css #}

<style type="text/css">
        
    
    {# style temporaire pour visualiser les formulaires #}
    form {
        border: 1px solid black;
        margin-top: 9px;
        padding: 5px;
    }
</style>
{% endblock %}

{#  ajoute les dépendances JS d'angular JS + script de manip des formulaires #}
{% block javascript %}
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
   <script src="{{ asset('js/listingView.js') }}"></script>
   <script>
       var urlDeleteGift = '{{ path('cigogne.gift.remove', {'_format':'json'})}}';
       var deleteToken = '{{deleteToken}}';
       var itemsInBasket = {{itemsInBasket|raw }};
   </script>
{% endblock %}


{#  
    le contenu commence ici
#}

{% block content %}
   
   {# le code qui contient le "panier " de l'utilisateur.  #}

<div ng-app="listingView" class="row listing">
    
   <div class="columns three">
   {% include 'FastreCigogneBundle:Basket:preparation.html.twig' %}
   </div>
    

    <div class="column eight item_wrapper">
	    
          <h1>{{listing.name}}</h1>
	    <p>{% trans with {'%name%': listing.creator.username} %}cigogne.listing.view.list_of_{% endtrans %}</p>

	
	    {#  
	        liste de tous les items...
	    #}
	
	    <ul id="item_list" class="item_list " >
	
	        {% for item in listing.items %}
	    {#  
	        ajoute des classes particulières en fonction de la nature de l'item
	    #}
	            <li class="item 
	          {% if item.type is constant('Fastre\\CigogneBundle\\Entity\\Item::TYPE_GOOD') %}good{% else %}service{% endif %}
	          {% if constant('Fastre\\CigogneBundle\\Entity\\Item::GOOD_SECOND_HAND') in item.good %}second{% endif %}
	          {% if constant('Fastre\\CigogneBundle\\Entity\\Item::GOOD_NEW') in item.good %}new{% endif %}
	        ">
                     
                     {% if item.photo is not null %}
                     <div class="image_item">
                        <img src="{{ container_url ~ '/' ~ item.photo.fileName }}" class="image_item" />
                     </div>
                     {% endif %}
                     
                      <h3 class="item_title">{{item.title}}</h3>
	
	                <p class="item_description">{{item.description}}</p>
	
	
                      <div class="medium secondary btn pick-btn">
                         <a href="{{ path('cigogne.item.public_view', { 'codeListing': code, 'itemId': item.id } ) }}">
                            {{ 'cigogne.listing.item.pick'|trans }}
                         </a>
                      </div>
	
	
	
	            </li>
	
	        {% endfor %}
	
	    </ul>
    </div>

</div> {# div for ng-app #}

{% endblock %}