{% extends "FastreCigogneBundle::layout.html.twig" %}

{#
    Les arguments passés à la vue sont les suivants:

- listing: la liste affichée
- forms: les formulaires. Il s'agit d'un tableau multidimensionnel où la première 
   clé est celle de l'id de l'item, la deuxième le type de formulaire
   forms[listing.item.id][Item::FURNITURE_MONEY ou ITEM::FURNITURE_NATURE] = form

#}

{#  
    les deux lignes ci-dessous stockent des valeurs constantes dans des variables twig, 
    histoire de ne pas trop alourdir le code... 
#}

{% set money = constant('Fastre\\CigogneBundle\\Entity\\Item::FURNITURE_MONEY') %}
{% set nature = constant('Fastre\\CigogneBundle\\Entity\\Item::FURNITURE_NATURE') %}
{% set service = constant('Fastre\\CigogneBundle\\Entity\\Item::FURNITURE_SERVICE') %}

{#  
    ajoute le titre de la page
#}

{% block title %}{% trans with {'%name%': listing.creator.username} %}cigogne.listing.view.title{% endtrans %}{% endblock %}


{#  ajoute les dépendances JS d'angular JS + script de manip des formulaires #}
{% block javascript %}
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
   <script src="{{ asset('js/listingView.js') }}"></script>
{% endblock %}


{#  
    le contenu commence ici
#}

{% block content %}

<div ng-app="listingView">
    <div ng-controller="basketController">
        <div id="basket" >
            <ul id="moneyGift">
                <li ng-repeat="moneyGift in moneyGifts">
                    <span>{{'{{'}}moneyGift.title{{'}}'}}</span> <span>{{'{{'}}moneyGift.amount{{'}}'}}</span>
                </li>

            </ul>

            {{'{{'}}getTotalMoneyGifts(){{'}}'}}

        </div>
    </div>
    
    
    <h1>{{listing.name}}</h1>
    <p>{% trans with {'%name%': listing.creator.username} %}cigogne.listing.view.list_of_{% endtrans %}</p>

    <p>{% trans with {'%date%': listing.dateOfBirth | date("m/d/Y")} %}cigogne.listing.view.date_of_birth{% endtrans %}</p>

    {{listing.description}}

    <h1>{% trans %}cigogne.listing.view.item_list{% endtrans %}</h1>

    {#  
        liste de tous les items...
    #}

    <div id="item.list" >

        {% for item in listing.items %}
    {#  
        ajoute des classes particulières en fonction de la nature de l'item
    #}
            <div class="item 
          {% if item.type is constant('Fastre\\CigogneBundle\\Entity\\Item::TYPE_GOOD') %}good{% else %}service{% endif %}
          {% if constant('Fastre\\CigogneBundle\\Entity\\Item::GOOD_SECOND_HAND') in item.good %}second{% endif %}
          {% if constant('Fastre\\CigogneBundle\\Entity\\Item::GOOD_NEW') in item.good %}new{% endif %}
        ">
                <h2 class="item.title">{{item.title}}</h2>

                <p class="item.description">{{item.description}}</p>


                {% if attribute(attribute(forms, item.id), money) is defined %}
                    {% set form = attribute(attribute(forms, item.id), money) %}
                <div >
                    <form class="second" ng-controller="moneyGiftController" ng-submit="addMoneyGift(this)">
                   
                        {{ form_label(form.amount) }}: {{ form_widget(form.amount, {'attr': {}}) }}
                        
                        <input type="hidden" name="title" value="{{item.title}}" >
                        
                        {# ne pas supprimer form_rest : il affiche les éléments manquants 
                            (valeurs cachées, etc.  #}
                        {{ form_rest(form) }} 
                        
                        <button >{% trans %}cigogne.gift.form.money.give{% endtrans %}</button>
                        
                    </form>
                </div>

                {% endif %}

                {% if attribute(attribute(forms, item.id), nature) is defined  %}
                    {% set form = attribute(attribute(forms, item.id), nature) %}
                  
                    <form method="post" action="#" class="new">
                        {{ form_label(form.message) }}: {{ form_widget(form.message) }}
                            {# ne pas supprimer form_rest : il affiche les éléments manquants 
                            (valeurs cachées, etc.  #}
                            {{ form_rest(form) }} 
                        <button>{% trans %}cigogne.gift.form.nature.give{% endtrans %}</button>
                    </form>
                  

                {% endif %}

                {% if attribute(attribute(forms, item.id), service) is defined %}
                    {% set form = attribute(attribute(forms, item.id), service) %}
                    <form method="post" action="#" class="new">
                        {{ form_label(form.message) }}: {{ form_widget(form.message) }}
                            {# ne pas supprimer form_rest : il affiche les éléments manquants 
                            (valeurs cachées, etc.  #}
                            {{ form_rest(form) }} 
                        <button>{% trans %}cigogne.gift.form.service.give{% endtrans %}</button>
                    </form>

                {% endif %}



            </div>

        {% endfor %}

    </div>

</div> {# div for ng-app #}

{% endblock %}